$primary-0: #056839;
$primary-1: #00311a;
$primary-2: #1cb06c;
$primary-3: #eaf7f1;

$secondary-0: #2d3648;
$secondary-1: #1a202c;
$secondary-2: #2d3962;
$secondary-3: #32378d;

$error-0: #ff4d00;
$error-1: #862f2b;
$error-2: #de3730;
$error-3: #ff8066;
$error-4: #f9c3c0;

$neutral-0: #444444;
$neutral-1: #615f67;
$neutral-2: #c6c6c6;
$neutral-3: #d8d8d8;
$neutral-4: #e6e6e6;
